<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TecnoFullHelp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><h1 class="fw-lighter fw-bolder fst-italic">TecnoFullHelp</h1></div>
        <div class="list-group list-group-flush">
            <a th:href="@{/empresas}" class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Empresas</a>
            <a th:href="@{/empleados}" class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Empleados</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Transacciones</a>

        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="w-100">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <!--<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a th:href="@{/home}" class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Noticias</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a th:href="@{/empresas}" class="dropdown-item" href="#!">Empresas</a>
                                <a th:href="@{/empleados}" class="dropdown-item" href="#!">Empleados</a>
                                <a class="dropdown-item" href="#!">Transacciones</a>
                                <div class="dropdown-divider"></div>
                                <a th:href="@{/}" class="dropdown-item" href="#!">Salir</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">Empleados</h1>
            <p>Listado de empleados registrados en el sistema Tecnofullhelp</p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="empleado: ${empleados}">
                    <th scope="row" th:text="${empleado.id}"></th>
                    <td th:text="${empleado.name}"></td>
                    <td th:text="${empleado.email}"></td>
                    <td th:text="${empleado.enterprise.getName()}"></td>
                    <td th:text="${empleado.role}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>