<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_intro.css">
    <title>{Friend-Code}</title>
</head>
<body>
    <div class="box">
        <h2>Sistema para gestionar los
                ingresos y egresos de su empresa</h2>
        <form action="/home">
            <!--<div class="inputBox">
                <input type="text" name="" required="">
                <label for="">usuario</label>
            </div>

            <div class="inputBox">
                <input type="password" name="" required="">
                <label for="">contraseña</label>
            </div>-->
                <input type="submit" name="" value="Ingresar">
        </form>
    </div>
    
</body>
</html>